@import "../base/reset";
@import "../base/color";
@import "../base/typography";


.back{
    position: sticky;
    top: 120px;
    margin-top: 120px;
    margin-left: 38px;
    color: $primary-p9;
    font-family: Roboto;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    img{
        margin-right: 8px;
    }
    &:hover{
        text-decoration: line-through;
        text-decoration: line-through;
    }
}

.header{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18rem;
    border-bottom: 1px solid $primary-p2;
    padding: 40px 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    .info{
        display: flex;
        flex-wrap: nowrap;
        align-self: center;
        justify-content: center;
        padding-bottom: 20px;
        .divider{
            flex-basis: 2%;
            width: 0.5rem;
            height: 16.375rem;
            background: $primary-p7;
        } 

        .text{
            width: 24rem;
            margin-left: 12px;
            align-self: center;
            h2{
                font-family: Advent Pro;
                font-size: 3rem;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                color: $primary-p9;
            }
            p{
                font-family: Roboto;
                font-size: 1.25rem;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
            }
        }
    }
}


.main-content{
    .problem-start{
        p{
            margin-bottom: 24px;
        }
        div{
            display: flex;
            margin-bottom: 40px;
            .number{
                font-family: Advent Pro;
                font-size: 4rem;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                width: 30%;
                text-align: end;
                padding-right: 40px;
            }
            div{
                width: 70%;
                display: flex;
                flex-direction: column;
                .date{
                    font-family: Roboto;
                    font-size: 0.75rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    color: $color-grayscale-grey-p9;
                    margin-bottom: 8px;
                }
                span{
                    text-decoration-line: underline;
                    font-weight: 400;
                    font-size: 1rem;
                }
            }
        }
    }

    .timeline{
        border-top: 1px solid $primary-p4;
        padding-top: 20px;
        img{
            object-fit: contain;
            height: 100%;
            width: 100%; 
        }
    }

    .problem{
        border-top: 1px solid $primary-p4;
        padding-top: 20px;
        ul{
            li{
                font-family: Roboto;
                font-size: 1rem;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
                padding-bottom: 8px;
                a{
                    color: $primary-p8;
                    text-decoration: none;
                    &:hover{
                        text-decoration: line-through;
                        color: $primary-p5;
                        font-family: 600;
                    }
                }
            }
        }
        img{
            object-fit: contain;
            height: 100%;
            width: 100%; 
        }
    }

    .team{
        border-top: 1px solid $primary-p4;
        padding-top: 20px;
    }


    .test_iteration{
        border-top: 1px solid $primary-p4;
        padding-top: 20px;
        img{
            object-fit: contain;
            height: 100%;
            width: 100%; 
        }
    }

    .tell{
        display: flex;
        ul{
            li{
                margin: 0px;
                list-style-type: none;
                font-style: italic;
            }
        }
    }

    .second_iteration{
        .subtitle{
            font-family: Roboto;
            font-size: 1rem;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
            color: $primary-p9;
        }
    }

    span{
        font-weight: 400;
        font-size: 1rem;
    }

}

.side-comments{
    flex-basis: 300px; /* Ancho de la columna de comentarios */
    font-family: Indie Flower;
    color: $primary-p9;
    padding-left: 20px;
    .comment01{
        margin-top: 80px;
    }
    .comment02{
        margin-top: 120px;
    }
    .comment03{
        margin-top: 500px;
    }
    .comment04{
        margin-top: 200px;
    }
    .comment05{
        margin-top: 800px;
        a{
            color: $primary-p7;
        }
    }
    .comment06{
        margin-top: 2500px;
    }
    .comment07{
        margin-top: 400px;
    }
    .comment08{
        margin-top: 1000px;
        span{
            font-family: Roboto;
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
    }
    .comment09{
        margin-top: 20px;
        span{
            font-family: Roboto;
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
    }
}

@media (max-width:767px){

    .back{
        display: none;
    }

    .header{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 18rem;
        border-bottom: 1px solid $primary-p2;
        padding: 40px 0px;
        padding-bottom: 0px;
        margin-bottom: 0px;
        margin-top: 80px;
        .info{
            display: flex;
            flex-wrap: nowrap;
            align-self: center;
            justify-content: center;
            padding-bottom: 20px;
            width: 80%;
            .divider{
                flex-basis: 2%;
                width: 1rem;
                height: 16.375rem;
                background: $primary-p7;
            } 
    
            .text{
                width: 8rem;
                margin-left: 12px;
                align-self: center;
                h2{
                    font-family: Advent Pro;
                    font-size: 2.5rem;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    color: $primary-p9;
                }
                p{
                    font-family: Roboto;
                    font-size: 1rem;
                    font-style: normal;
                    font-weight: 300;
                    line-height: normal;
                }
            }
        }
    }
    

    .container{
        display: flex;
        position: relative;
        .menu{
            display: none;
        }
    
        .main-content{
            .problem-start{
                p{
                    margin-bottom: 24px;
                }
                div{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    margin-bottom: 40px;
                    .number{
                        font-family: Advent Pro;
                        font-size: 4rem;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                        width: 100%;
                        text-align: start;
                        padding-right: 40px;
                    }
                    div{
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 0px;
                        .date{
                            font-family: Roboto;
                            font-size: 0.75rem;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                            color: $color-grayscale-grey-p9;
                            margin-bottom: 8px;
                            margin-top: 12px;
                            text-align: start;

                        }
                        span{
                            text-decoration-line: underline;
                            font-weight: 400;
                            font-size: 1rem;
                        }
                    }
                }
            }
        
            .tell{
                display: flex;
                flex-direction: column;
                ul{
                    li{
                        margin: 0px;
                        list-style-type: none;
                        font-style: italic;
                    }
                }
            }
        
            .second_iteration{
                .subtitle{
                    font-family: Roboto;
                    font-size: 1rem;
                    font-style: normal;
                    font-weight: 800;
                    line-height: normal;
                    color: $primary-p9;
                }
            }
        
            span{
                font-weight: 400;
                font-size: 1rem;
            }

            .thank-flobi{
                margin-top: 3.5rem;
                border-top: 1px solid $primary-p7;
                padding-top: 36px;
                margin-bottom: -90vh;
                h2{
                    font-family: Advent Pro;
                    font-size: 1.5rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                }
                p{
                    font-family: Roboto;
                    font-size: 1rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
                span{
                    color: $primary-p9;
                    font-family: Indie Flower;
                    font-size: 1.5rem !important;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    margin-top: 20px;
                }
            }
        
        }
    
        .side-comments{
            display: none;
        }
    }
}

@media (min-width:768px) and (max-width:1294px){
    .container{
        display: flex;
        position: relative;
    
        .main-content{
            .problem-start{
                p{
                    margin-bottom: 24px;
                }
                div{
                    display: flex;
                    align-items: flex-start;
                    justify-content: flex-start;
                    margin-bottom: 40px;
                    .number{
                        font-family: Advent Pro;
                        font-size: 4rem;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                        width: 50%;
                        text-align: end;
                        padding-right: 40px;
                    }
                    div{
                        width: 50%;
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 0px;
                        .date{
                            font-family: Roboto;
                            font-size: 0.75rem;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                            color: $color-grayscale-grey-p9;
                            margin-bottom: 8px;
                            margin-top: 12px;
                            text-align: start;

                        }
                        span{
                            text-decoration-line: underline;
                            font-weight: 400;
                            font-size: 1rem;
                        }
                    }
                }
            }
        
            .tell{
                display: flex;
                flex-direction: column;
                ul{
                    li{
                        margin: 0px;
                        list-style-type: none;
                        font-style: italic;
                    }
                }
            }
        
            .second_iteration{
                .subtitle{
                    font-family: Roboto;
                    font-size: 1rem;
                    font-style: normal;
                    font-weight: 800;
                    line-height: normal;
                    color: $primary-p9;
                }
            }
        
            span{
                font-weight: 400;
                font-size: 1rem;
            }

            .thank-flobi{
                margin-top: 3.5rem;
                border-top: 1px solid $primary-p7;
                padding-top: 36px;
                margin-bottom: -90vh;
                h2{
                    font-family: Advent Pro;
                    font-size: 1.5rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                }
                p{
                    font-family: Roboto;
                    font-size: 1rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
                span{
                    color: $primary-p9;
                    font-family: Indie Flower;
                    font-size: 1.5rem !important;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    margin-top: 20px;
                }
            }
        
        }
    
    }
}