@import "../base/reset";
@import "../base/color";
@import "../base/typography";


.back{
    position: sticky;
    top: 120px;
    margin-top: 120px;
    margin-left: 38px;
    color: $primary-p9;
    font-family: Roboto;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    img{
        margin-right: 8px;
    }
    &:hover{
        text-decoration: line-through;
        text-decoration: line-through;
    }
}

.header{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18rem;
    border-bottom: 1px solid $primary-p2;
    padding: 40px 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    .info{
        display: flex;
        flex-wrap: nowrap;
        align-self: center;
        justify-content: center;
        padding-bottom: 20px;
        .divider{
            flex-basis: 2%;
            width: 0.5rem;
            height: 16.375rem;
            background: $primary-p7;
        } 

        .text{
            width: 24rem;
            margin-left: 12px;
            align-self: center;
            h2{
                font-family: Advent Pro;
                font-size: 3rem;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                color: $primary-p9;
            }
            p{
                font-family: Roboto;
                font-size: 1.25rem;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
            }
        }
    }
}

.container{
    display: flex;
    position: relative;
    .menu{
        position: fixed;
        margin-top: -40vh;
        width: 200px; /* Ancho del menú */
        overflow-x: hidden;
        padding-top: 32px;
        ul{
            li{
                font-family: Roboto;
                font-size: 1rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                padding-bottom: 8px;
                a{
                    color: $primary-p8;
                    text-decoration: none;
                    &:hover{
                        text-decoration: line-through;
                        color: $primary-p5;
                        font-family: 600;
                    }
                }
            }
        }
    }

    .main-content{
        margin-left: 200px; /* Espacio para el menú fijo */
        flex-grow: 1;
        overflow-x: hidden;
        padding-top: 32px;
        min-height: fit-content;
        .confidential-note{
            background-color: $color-light-accent-p1;
            padding: 26px 0px;
            h2{
                width: 90%;
                margin-left: 5%;
                font-family: Roboto;
                font-size: 0.875rem;
                font-style: italic;
                font-weight: 300;
                line-height: normal;
            }
            p{
                width: 90%;
                margin-left: 5%;
                font-family: Roboto;
                font-size: 0.875rem;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
                span{
                    font-family: Roboto;
                    font-size: 0.875rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }
        }

        .problem{
            width: 90%;
            margin-left: 5%;
            margin-top: 3rem;
            h2{
                font-family: Advent Pro;
                font-size: 1.5rem;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }
            p{
                font-family: Roboto;
                font-size: 1rem;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
            }
        }

        .proposed_solution{
            width: 90%;
            margin-left: 5%;
            margin-top: 3.5rem;
            h2{
                font-family: Advent Pro;
                font-size: 1.5rem;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }
            p{
                font-family: Roboto;
                font-size: 1rem;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
            }
        }

        .team{
            width: 90%;
            margin-left: 5%;
            margin-top: 3.5rem;
            h2{
                font-family: Advent Pro;
                font-size: 1.5rem;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }
            p{
                font-family: Roboto;
                font-size: 1rem;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
            }
        }

        .Challenges_overcome{
            width: 90%;
            margin-left: 5%;
            margin-top: 3.5rem;
            h2{
                font-family: Advent Pro;
                font-size: 1.5rem;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }
            p{
                font-family: Roboto;
                font-size: 1rem;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
            }
            ul{
                li{
                    list-style-type: disc;
                    display: flex;
                    align-items: flex-start;
                    font-family: Roboto;
                    font-size: 1rem;
                    font-style: normal;
                    font-weight: 300;
                    line-height: normal;
                    padding-bottom: 1rem;
                }
            }
        }

        .Process{
            width: 90%;
            margin-left: 5%;
            margin-top: 3.5rem;
            h2{
                font-family: Advent Pro;
                font-size: 1.5rem;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }

            h3{
                margin-top: 2.5rem;
                font-family: Advent Pro;
                font-size: 1.5rem;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }
            p{
                font-family: Roboto;
                font-size: 1rem;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
                span{
                    font-family: Roboto;
                    font-size: 1rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    color: $primary-p9;
                }
                a{
                    text-decoration: none;
                    color: $primary-p7;
                }
            }
            ul{
                li{
                    display: flex;
                    align-items: flex-start;
                    font-family: Roboto;
                    font-size: 1rem;
                    font-style: normal;
                    font-weight: 300;
                    line-height: normal;
                    padding-bottom: 1rem;
                    a{
                        text-decoration: none;
                        color: $primary-p7;
                    }
                }
               
            }

            h4{
                margin-top: 2.5rem;
                font-family: Advent Pro;
                font-size: 1.5rem;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }

            img{
                width: 90%;
            }

            .AI_person{
                .link-template{
                    margin-top: 40px;
                    font-style: italic;
                    color: $color-grayscale-grey-p7;
                }
            }

            .market_share{
                margin-top: 3.5rem;
                ul{
                    li{
                        display: flex;
                        align-items: flex-start;
                        font-family: Roboto;
                        font-size: 1rem;
                        font-style: normal;
                        font-weight: 300;
                        line-height: normal;
                        padding-bottom: 1rem;
                    }
                }
            }

            .definitions{
                margin-top: 3.5rem;
                ol{
                    li{
                        display: flex;
                        align-items: flex-start;
                        font-family: Roboto;
                        font-size: 1rem;
                        font-style: normal;
                        font-weight: 300;
                        line-height: normal;
                        padding-bottom: 1rem;
                    }
                }
            }

            .tools{
                ul{
                    li{
                        display: flex;
                        align-items: flex-start;
                        font-family: Roboto;
                        font-size: 1rem;
                        font-style: normal;
                        font-weight: 300;
                        line-height: normal;
                        padding-bottom: 1rem;
                    }
                }
            }
        }

        .conclusion{
            width: 90%;
            margin-left: 5%;
            margin-top: 3.5rem;
            h2{
                font-family: Advent Pro;
                font-size: 1.5rem;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }
            p{
                font-family: Roboto;
                font-size: 1rem;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
            }
        }

        .thank{
            width: 90%;
            margin-left: 5%;
            margin-top: 3.5rem;
            border-top: 1px solid $primary-p7;
            padding-top: 36px;
            margin-bottom: -90vh;
            h2{
                font-family: Advent Pro;
                font-size: 1.5rem;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }
            p{
                font-family: Roboto;
                font-size: 1rem;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
            }
            span{
                color: $primary-p9;
                font-family: Indie Flower;
                font-size: 2rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin-left: 70%;
            }
        }

    }

    .side-comments{
        flex-basis: 300px; /* Ancho de la columna de comentarios */
        font-family: Indie Flower;
        color: $primary-p9;
        padding-left: 20px;
        .comment1{
            margin-top: 80px;
        }
        .comment2{
            margin-top: 120px;
        }
        .comment3{
            margin-top: 120px;
        }
        .comment4{
            margin-top: 100px;
        }
        .comment5{
            margin-top: 200px;
        }
        .comment6{
            margin-top: 450px;
        }
        .comment7{
            margin-top: 500px;
        }
        .comment8{
            margin-top: 1000px;
            span{
                font-family: Roboto;
                font-size: 0.875rem;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }
        }
        .comment9{
            margin-top: 20px;
            span{
                font-family: Roboto;
                font-size: 0.875rem;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }
        }
    }
}


@media (min-width:1441px){
    #nav{
       .navbar-brand{
        width: 5%;
        img{
            width: 100%;
        }
       } 
    }
    .container{
        display: flex;
        position: relative;
        .menu{
            position: fixed;
            margin-top: -28vh;
            width: 200px; /* Ancho del menú */
            overflow-x: hidden;
            padding-top: 32px;
            ul{
                li{
                    font-family: Roboto;
                    font-size: 1rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    padding-bottom: 8px;
                    a{
                        color: $primary-p8;
                        text-decoration: none;
                        &:active{
                            text-decoration: underline;
                            font-weight: 600;
                            color: $primary-p9;
                        }
                        &:hover{
                            text-decoration: line-through;
                            color: $primary-p7;
                        }
                    }
                }
            }
        }
        .main-content{
    
            .thank{
                width: 90%;
                margin-left: 5%;
                margin-top: 3.5rem;
                border-top: 1px solid $primary-p7;
                padding-top: 36px;
                margin-bottom: -90vh;
                h2{
                    font-family: Advent Pro;
                    font-size: 1.5rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                }
                p{
                    font-family: Roboto;
                    font-size: 1rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
                span{
                    color: $primary-p9;
                    font-family: Indie Flower;
                    font-size: 2rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    margin-left: 70%;
                }
            }
    
        }
    
    }
}


@media (max-width:767px){
    .container{
        display: flex;
        position: relative;
        .menu{
            display: none;
        }
    
        .main-content{
            margin-left: 0vw; /* Espacio para el menú fijo */
            overflow-x: hidden;
            padding-top: 32px;
            min-height: fit-content;
            .confidential-note{
                background-color: $color-light-accent-p1;
                padding: 26px 0px;
                h2{
                    width: 90%;
                    margin-left: 5%;
                    font-family: Roboto;
                    font-size: 0.875rem;
                    font-style: italic;
                    font-weight: 300;
                    line-height: normal;
                }
                p{
                    width: 90%;
                    margin-left: 5%;
                    font-family: Roboto;
                    font-size: 0.875rem;
                    font-style: normal;
                    font-weight: 300;
                    line-height: normal;
                    span{
                        font-family: Roboto;
                        font-size: 0.875rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }
                }
            }
    
            .problem{
                margin-top: 3rem;
                h2{
                    font-family: Advent Pro;
                    font-size: 1.5rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                }
                p{
                    font-family: Roboto;
                    font-size: 1rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }
    
            .proposed_solution{
                margin-top: 3.5rem;
                h2{
                    font-family: Advent Pro;
                    font-size: 1.5rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                }
                p{
                    font-family: Roboto;
                    font-size: 1rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }
    
            .team{
                margin-top: 3.5rem;
                h2{
                    font-family: Advent Pro;
                    font-size: 1.5rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                }
                p{
                    font-family: Roboto;
                    font-size: 1rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }
    
            .Challenges_overcome{
                margin-top: 3.5rem;
                h2{
                    font-family: Advent Pro;
                    font-size: 1.5rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                }
                p{
                    font-family: Roboto;
                    font-size: 1rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
                ul{
                    ol{
                        display: flex;
                        align-items: flex-start;
                        font-family: Roboto;
                        font-size: 1rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        padding-bottom: 1rem;
                    }
                }
            }
    
            .Process{
                margin-top: 3.5rem;
                h2{
                    font-family: Advent Pro;
                    font-size: 1.5rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                }
    
                h3{
                    margin-top: 2.5rem;
                    font-family: Advent Pro;
                    font-size: 1.5rem;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                }
                p{
                    font-family: Roboto;
                    font-size: 1rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    span{
                        font-family: Roboto;
                        font-size: 1rem;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        color: $primary-p9;
                    }
                    a{
                        text-decoration: none;
                        color: $primary-p7;
                    }
                }
                ul{
                    ol{
                        display: flex;
                        align-items: flex-start;
                        font-family: Roboto;
                        font-size: 1rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        padding-bottom: 1rem;
                        a{
                            text-decoration: none;
                            color: $primary-p7;
                        }
                    }
                   
                }
    
                h4{
                    margin-top: 2.5rem;
                    font-family: Advent Pro;
                    font-size: 1.5rem;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                }
    
                img{
                    width: 90%;
                }
    
                .AI_person{
                    .link-template{
                        margin-top: 40px;
                        font-style: italic;
                        color: $color-grayscale-grey-p7;
                    }
                }
    
                .market_share{
                    margin-top: 3.5rem;
                    ul{
                        li{
                            display: flex;
                            align-items: flex-start;
                            font-family: Roboto;
                            font-size: 1rem;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                            padding-bottom: 1rem;
                        }
                    }
                }
    
                .definitions{
                    margin-top: 3.5rem;
                    ul{
                        li{
                            display: flex;
                            align-items: flex-start;
                            font-family: Roboto;
                            font-size: 1rem;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                            padding-bottom: 1rem;
                        }
                    }
                }

                .design{
                    p{
                        margin-top: 20px;
                    }
                }
    
                .tools{
                    ul{
                        li{
                            display: flex;
                            align-items: flex-start;
                            font-family: Roboto;
                            font-size: 1rem;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                            padding-bottom: 1rem;
                        }
                    }
                }
            }
    
            .conclusion{
                margin-top: 3.5rem;
                h2{
                    font-family: Advent Pro;
                    font-size: 1.5rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                }
                p{
                    font-family: Roboto;
                    font-size: 1rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }
    
            .thank{
                margin-top: 3.5rem;
                border-top: 1px solid $primary-p7;
                padding-top: 36px;
                margin-bottom: -90vh;
                h2{
                    font-family: Advent Pro;
                    font-size: 1.5rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                }
                p{
                    font-family: Roboto;
                    font-size: 1rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
                span{
                    color: $primary-p9;
                    font-family: Indie Flower;
                    font-size: 2rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    margin-top: 20px;
                    margin-left: 60%;
                }
            }
    
        }
    
        .side-comments{
            display: none;
        }
    }
}