@import "../base/reset";
@import "../base/color";
@import "../base/typography";

body{
    overflow-x: hidden;
}

#p5-canvas {
    position: fixed; /* Fija el contenedor del canvas en la ventana de visualización */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1; /* Coloca el canvas detrás del contenido */
}

.fondo-resume{
    opacity: 0.3 !important;
}

.header-resume{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 18rem;
    padding: 40px 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 70px;
    .info{
        margin-left: 10%;
        display: flex;
        flex-wrap: nowrap;
        align-self: center;
        justify-content: center;
        padding-bottom: 20px;
        .divider{
            flex-basis: 1.3%;
            width: 0.5rem;
            height: 12rem;
            background: $primary-p7;
        } 

        .text{
            width: 40rem;
            margin-left: 12px;
            align-self: center;
            h2{
                font-family: Advent Pro;
                font-size: 3rem;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                color: $primary-p9;
            }
            p{
                font-family: Roboto;
                font-size: 1.25rem;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
            }
        }
    }
}

.download{
    margin-top: 120px;
    display: flex;
    justify-content: end;
    padding-right: 80px;
    a{
        text-decoration: none;
        color: $color-accent-p7;
        &:hover{
            color: $color-accent-p8;
            text-decoration: line-through;
        }
    }
}

main{
    section{
        h2{
            font-family: Advent Pro;
            font-size: 1.5rem;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            margin-bottom: 20px;

        }
        h3{
            font-family: Advent Pro;
            font-size: 2.25rem;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            margin-top: 40px;
        }
        h4{
            font-family: Roboto;
            font-size: 1.25rem;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            margin-top: 40px;
        }
        .date{
            font-family: Roboto;
            font-size: 1rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            color: $color-light-accent-p9;
            font-style: italic;
        }
        p{
            span{
                font-size: 1.25rem;
                font-family: Roboto;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                color: $primary-p7;
            }
        }
        ul{
            margin: 0;
            padding: 0;
            margin-top: 20px;
            li{
                list-style-type: disc;
                margin-bottom: 16px;
                margin-left: 20px;
                span{
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    color: $primary-p7;
                }
            }
        }
    }

    .about{
        margin-top: 60px;
    }

    .experience{
        margin-top: 40px;
        padding-top: 40px;
        border-top: 1px solid $primary-p4;
        h3{
            margin-bottom: 20px;
        }
    }

    .education{
        margin-top: 40px;
        padding-top: 40px;
        border-top: 1px solid $primary-p4;
        h3{
            margin-bottom: 20px;
        }
    }

    .skill{
        margin-top: 40px;
        padding-top: 40px;
        border-top: 1px solid $primary-p4;
        padding-bottom: 80px;
        h3{
            margin-bottom: 20px;
        }
        .row{
            display: flex;
            margin-bottom: 20px;
            justify-content: space-between;
            img{
                width: 8rem;
            }

        }

        .learning{
            margin: 60px 0px;
            font-family: Roboto;
            font-size: 1.25rem;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
        }

       
    }

    .extra{
        display: flex;
        border-top: 1px solid $primary-p4;
        padding-top: 80px;
        .certification{
            width: 50%;
            padding: 32px 24px;
            div{
                h3{
                    font-family: Roboto;
                    font-size: 1.25rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                }
                p{
                    font-family: Roboto;
                    font-size: 1rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    color: $primary-p9;
                }
            }
        }

        .book{
            width: 50%;
            padding: 32px 24px;
            div{
                h3{
                    font-family: Roboto;
                    font-size: 1.25rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                }
                p{
                    font-family: Roboto;
                    font-size: 1rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    color: $primary-p9;
                }
            }
        }

    }
}

@media (min-width:1440px){
    .skill{
        .row{
            display: flex;
            margin-bottom: 20px;
            justify-content: space-between;

            img{
                width: 8rem;
                &:hover{
                    fill: $color-light-accent-p9;
                    transform: scale(1.5);
                    border-radius: 0.25rem;
                    background: rgba(255, 255, 255, 0.28);
                    box-shadow: 0px 4px 4px 0px rgba(217, 150, 238, 0.08), 4px 0px 4px 0px rgba(217, 150, 238, 0.08);
                    backdrop-filter: blur(2px);
                }
            }
        }

    }
}

@media (max-width:767px){
    .header-resume{
        .info{
            .text{
                width: 18rem;
                margin-left: 12px;
                align-self: center;
                h2{
                    font-family: Advent Pro;
                    font-size: 3rem;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    color: $primary-p9;
                }
                p{
                    font-family: Roboto;
                    font-size: 1.25rem;
                    font-style: normal;
                    font-weight: 300;
                    line-height: normal;
                }
            }
        }
    }

    .skill{
        margin-top: 40px;
        padding-top: 40px;
        border-top: 1px solid $primary-p4;
        padding-bottom: 80px;
        h3{
            margin-bottom: 20px;
        }
        .row{
            display: flex;
            margin-bottom: 20px;
            justify-content: space-between;
            img{
                width: 8rem;
            }
        }
        .learning{
            margin: 60px 0px;
            font-family: Roboto;
            font-size: 1.25rem;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
        }
    }

    .extra{
        display: flex;
        border-top: 1px solid $primary-p4;
        padding-top: 80px;
        .certification{
            width: 50%;
            padding: 32px 24px;
            div{
                h3{
                    font-family: Roboto;
                    font-size: 1rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                }
                p{
                    font-family: Roboto;
                    font-size: 1rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    color: $primary-p9;
                }
            }
        }

        .book{
            width: 50%;
            padding: 32px 24px;
            div{
                h3{
                    font-family: Roboto;
                    font-size: 1rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                }
                p{
                    font-family: Roboto;
                    font-size: 1rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    color: $primary-p9;
                }
            }
        }

    }


}