@use "../base/color";
@use "../base/typography";

#p5-canvas {
    position: fixed; /* Fija el contenedor del canvas en la ventana de visualización */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1; /* Coloca el canvas detrás del contenido */
    opacity: 0.8;
}


#nav{
    position: fixed;
    width: 100vw;
    background-color: rgba(215, 233, 252, 0.08) !important;
    box-shadow: 0px 4px 4px 0px rgba(45, 71, 93, 0.08);
    backdrop-filter: blur(1px);
    z-index: 10;

    .navbar-brand{
        width: 8%;
        img{
            width: 100%;
        }
    }

    .active{
        text-decoration: underline;
        color:  color.$primary-p7;
        font-weight: 600;
    }

    .nav-link{
        color:  color.$primary-p9;
        font-family: 'Roboto', Arial, Helvetica, sans-serif;
        &:hover{
            text-decoration: line-through;
            color:  color.$primary-p5;
        }
    }

}

#presentation{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--Spacing-xxl, 3rem);
    width: auto;
    height: 25rem;
    margin-top: 20vh;
    .profile_photo{
        width: 25rem;
        height: 25rem;
        border-radius: 12.5rem 0rem;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        position: relative;
        border: 0.5px solid color.$primary-p3;
        video{
            width: 55%;
            height: 100%;
            object-fit: cover;
            border-radius: 0px;
            margin-top: 2%;
            transform: translate(+40%, 0%);
            transition: opacity 0.3s ease;
        }
        .fallback-profile {
            display: none;
        }
    }
    .text{
        width: 23rem;
        height: auto;
        h1{
            font-family: Advent Pro, Arial, Helvetica, sans-serif;
            font-size: 4rem;
            font-weight: 600;
            color:  color.$color-grayscale-grey-dark;
        }
        p{
            font-family: Roboto;
            font-size: 1.25rem;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            color:  color.$color-grayscale-grey-dark;
        }
    }
    .arrow-box{
        position: absolute;
    }

}



#case_study{
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 0px;
    .formato{
        display: flex;
        align-items: center;
        align-content: center;
        gap: 18rem;
        margin: 80px 0px;
        border-top: 1px solid  color.$primary-p2;
        border-bottom: 1px solid  color.$primary-p2;
        padding: 40px 0px;
        margin-bottom: 0px;
        .info{
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: center;
            height: 16.375rem;
            .divider{
                flex-basis: 2%;
                width: 0.5rem;
                height: 16.375rem;
                background:  color.$primary-p7;
            } 

            .text{
                width: 24rem;
                margin-left: 12px;
                align-self: center;
                h2{
                    font-family: Advent Pro;
                    font-size: 3rem;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    color:  color.$primary-p9;
                }
                p{
                    font-family: Roboto;
                    font-size: 1.25rem;
                    font-style: normal;
                    font-weight: 300;
                    line-height: normal;
                }
                a{
                    color: color.$primary-p9;
                    text-decoration: none;
                    font-family: Roboto;
                    font-size: 1.25rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    &:hover{
                        text-decoration: line-through;
                        color:  color.$primary-p5;
                        font-family: 600;
                    }
                }
            }

        }

        .portada{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 18rem;
            height: 18rem;
            border-radius: 100%;
            border:3px solid rgba(134, 82, 151, 0.00);
            background:  color.$color-white;
            box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.08), 0px 4px 12px 0px rgba(0, 0, 0, 0.08);
            img{
                width: 10rem;
                height: 10rem;
                display: inline-block;
            }
        }


    }

    .marketing{
        gap: 14rem;
        .info{
            .text{
                width: 28rem;
            }
        }
        .portada{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 18rem;
            height: 18rem;
            border-radius: 100%;
            border:3px solid rgba(134, 82, 151, 0.00);
            background:  color.$color-white;
            box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.08), 0px 4px 12px 0px rgba(0, 0, 0, 0.08);
            img{
                width: 90%;
                height: auto;
                display: inline-block;
                margin-left: 5%;
            }
        }
    }

    .dashboard{
        .info{
            .divider{
                background:  color.$color-grayscale-grey-p3;
            } 

            .text{
                h2{
                    color:  color.$color-grayscale-grey-p4;
                }
                a{
                    color: color.$color-grayscale-grey-p4;
                    text-decoration: none;
                    font-family: Roboto;
                    font-size: 1.25rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    cursor: auto;
                    &:hover{
                        text-decoration: none;
                        color:  color.$color-grayscale-grey-p4;
                        font-family: 600;
                    }
                }
            }

        }

        .portada{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 18rem;
            height: 18rem;
            border-radius: 100%;
            border:3px solid rgba(134, 82, 151, 0.00);
            background:  color.$color-white;
            box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.08), 0px 4px 12px 0px rgba(0, 0, 0, 0.08);
            img{
                width: 10rem;
                height: 10rem;
                display: inline-block;
                filter: grayscale(100%);
            }
        }
    }

    .directory{
        .info{
            .divider{
                background:  color.$color-grayscale-grey-p3;
            } 

            .text{
                h2{
                    color:  color.$color-grayscale-grey-p4;
                }
                a{
                    color: color.$color-grayscale-grey-p4;
                    text-decoration: none;
                    font-family: Roboto;
                    font-size: 1.25rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    cursor: auto;
                    &:hover{
                        text-decoration: none;
                        color:  color.$color-grayscale-grey-p4;
                        font-family: 600;
                    }
                }
            }

        }

        .portada{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 18rem;
            height: 18rem;
            border-radius: 100%;
            border:3px solid rgba(134, 82, 151, 0.00);
            background:  color.$color-white;
            box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.08), 0px 4px 12px 0px rgba(0, 0, 0, 0.08);
            img{
                width: 10rem;
                height: 10rem;
                display: inline-block;
                filter: grayscale(100%);
            }
        }
    }

}

#worked{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
    margin-top: 80px;
    .worked-text{
        text-align: start;
        h2{
            color: color.$color-grayscale-grey-p9;
            font-family: Advent Pro;
            font-size: 1.5rem;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            justify-self: flex-start;
        }
        .title-work{
            font-family: 600;
            color:  color.$color-grayscale-grey-p9;
        }
    }
    

    .row{
        div{
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 0.5rem;
            border: 1px solid rgba(124, 124, 124, 0.20);
            background:  color.$color-white;
            width: 15.5rem;
            height: 8rem;
            margin-left: 8px;
            margin-bottom: 8px;
            img{
                width: 10rem;
                height: auto;
            }
        }
    }
}



@media (min-width:1440px){
    #presentation{

        .text{
            width: 23rem;
            height: auto;
        }
        .arrow-box{
            position: absolute;
        }
    
    }

   

    #case_study{
        position: relative;
        display: flex;
        margin-left: 0vw;
        margin-top: 80px;
    }


}

@media (min-width:1200px){
    #worked{
        .row{
            .hover-dir{
                &:hover{
                    border: 1px solid  color.$primary-p7;
                }
            }

        }
    }
}

@media (min-width:100px){
    #presentation{
        .profile_photo{
            transition: background-image 0.3s ease-in-out;

        }
    }
}

@media (min-width:768px) and (max-width:1294px){
    #p5-canvas {
        position: fixed; 
        top: 0;
        left: 0;
        width: 100vw;
        height: auto;
        z-index: -1; /* Coloca el canvas detrás del contenido */
        overflow: hidden;
    }

    #nav{
        position: fixed;
        background-color: rgba(243, 215, 252, 0.08) !important;
        box-shadow: 0px 4px 4px 0px rgba(81, 45, 93, 0.08);
        backdrop-filter: blur(1px);
        z-index: 10;
    
    }
    #presentation{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: var(--Spacing-xxl, 3rem);
        width: auto;
        height: 40rem;
        margin-top: 20vh;
        .profile_photo{
            background-color: none;
            width: 80vw;
            height: 25rem;
            border-radius: 12.5rem 0rem;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
            position: relative;
            border: 0.5px solid color.$primary-p3;
            video{
                width: 25vw;
                height: 100%;
                object-fit: cover;
                border-radius: 0px;
                margin-top: 2%;
                transform: translate(+90%, 0%);
                transition: opacity 0.3s ease;
            }
        }

        .text{
            width: 23rem;
            height: auto;
            h1{
                font-family: Advent Pro, Arial, Helvetica, sans-serif;
                font-size: 4rem;
                font-weight: 600;
                color:  color.$color-grayscale-grey-dark;
            }
            p{
                font-family: Roboto;
                font-size: 1.25rem;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
                color:  color.$color-grayscale-grey-dark;
            }
        }
        .arrow-box{
            position: absolute;
        }
    
    
    }
    
    #case_study{
        position: relative;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        gap: 0px;
        .formato{
            display: flex;
            align-items: center;
            align-content: center;
            gap: 18rem;
            margin: 80px 0px;
            border-top: 1px solid  color.$primary-p2;
            border-bottom: 1px solid  color.$primary-p2;
            padding: 40px 0px;
            .info{
                display: flex;
                flex-wrap: nowrap;
                .divider{
                    flex-basis: 2%;
                    width: 0.5rem;
                    height: 16.375rem;
                    background:  color.$primary-p7;
                } 
    
                .text{
                    width: 24rem;
                    margin-left: 12px;
                    align-self: center;
                    h2{
                        font-family: Advent Pro;
                        font-size: 3rem;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                        color:  color.$primary-p9;
                    }
                    p{
                        font-family: Roboto;
                        font-size: 1.25rem;
                        font-style: normal;
                        font-weight: 300;
                        line-height: normal;
                    }
                    a{
                        color: color.$primary-p9;
                        text-decoration: none;
                        font-family: Roboto;
                        font-size: 1.25rem;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                    }
                }
    
            }
    
            .portada{
                display: none;
            }
    
    
        }
        
    }
    
    #worked{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 80px;
        h2{
            color:  color.$color-grayscale-grey-dark;
            font-family: Advent Pro;
            font-size: 1.5rem;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            justify-self: flex-start;
        }
        .row{
            flex-direction: column;
            div{
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 0.5rem;
                border: 1px solid rgba(124, 124, 124, 0.20);
                background:  color.$color-white;
                width: 15rem;
                height: 8rem;
                margin-left: 8px;
                margin-bottom: 8px;
                img{
                    width: 10rem;
                    height: auto;
                }
            }
            .row1 .row2{
                flex-basis: 50%;
            }
        }
    }
}

@media (max-width:767px){
    #p5-canvas {
        position: fixed; 
        top: 0;
        left: 0;
        width: 100vw;
        height: auto;
        z-index: -1; /* Coloca el canvas detrás del contenido */
        overflow: hidden;
    }

    #nav{
        position: fixed;
        background-color: rgba(243, 215, 252, 0.08) !important;
        box-shadow: 0px 4px 4px 0px rgba(81, 45, 93, 0.08);
        backdrop-filter: blur(1px);
        z-index: 10;
        .navbar-brand{
            width: 20%;
            img{
                width: 100%;
            }
        }
    
    }

    #presentation{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: var(--Spacing-xxl, 3rem);
        width: auto;
        height: 45rem;
        margin-top: 20vh;
        .profile_photo{
            background-color: none;
            width: 80vw;
            height: 25rem;
            border-radius: 12.5rem 0rem;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
            position: relative;
            border: 0.5px solid color.$color-dark-primary-p3;
            video{
                display: none;
            }
            .fallback-profile {
                display: block;
                width: 45vw;
                height: 100%;
                object-fit: cover;
                transform: translate(+45%, 0%);
            }
        }
        .text{
            width: 16rem;
            height: auto;
            padding-top: 40px;

            h1{
                font-family: Advent Pro, Arial, Helvetica, sans-serif;
                font-size: 4rem;
                font-weight: 600;
                color:  color.$color-grayscale-grey-dark;
            }
            p{
                font-family: Roboto;
                font-size: 1rem;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
                color:  color.$color-grayscale-grey-dark;
            }
        }
        .arrow-box{
            position: absolute;
        }
    
    }
    
    #case_study{
        position: relative;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        gap: 0px;
        .formato{
            display: flex;
            align-items: center;
            align-content: center;
            gap: 18rem;
            margin: 80px 0px;
            border-top: 1px solid  color.$primary-p2;
            border-bottom: 1px solid  color.$primary-p2;
            padding: 40px 0px;
            padding-bottom: 20px;
            margin-bottom: 0px;
            .info{
                display: flex;
                flex-wrap: nowrap;
                margin-bottom: 20px;
                .divider{
                    flex-basis: 2%;
                    width: 0.5rem;
                    height: 16.375rem;
                    background:  color.$primary-p7;
                } 
    
                .text{
                    width: 100%;
                    margin-left: 8px;
                    align-self: center;
                    h2{
                        font-size: 2rem;
                        font-weight: 600;
                    }
                    p{
                        font-size: 1rem;
                        font-weight: 300;
                    }
                    a{
                        font-size: 1.05rem;
                        font-weight: 500;
                    }
                }
    
            }
    
            .portada{
                display: none;
            }
    
    
        }
        

        .dashboard{
            .info{
                .divider{
                    background:  color.$color-grayscale-grey-p3;
                } 

                .text{
                    h2{
                        color:  color.$color-grayscale-grey-p4;
                    }
                    a{
                        color: color.$color-grayscale-grey-p4;
                        text-decoration: none;
                        font-family: Roboto;
                        font-size: 1.25rem;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        cursor: auto;
                        &:hover{
                            text-decoration: none;
                            color:  color.$color-grayscale-grey-p4;
                            font-family: 600;
                        }
                    }
                }

            }
        }

        .directory{
            .info{
                .divider{
                    background:  color.$color-grayscale-grey-p3;
                } 

                .text{
                    h2{
                        color:  color.$color-grayscale-grey-p4;
                    }
                    a{
                        color: color.$color-grayscale-grey-p4;
                        text-decoration: none;
                        font-family: Roboto;
                        font-size: 1.25rem;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        cursor: auto;
                        &:hover{
                            text-decoration: none;
                            color:  color.$color-grayscale-grey-p4;
                            font-family: 600;
                        }
                    }
                }

            }

        }
    }
    
    #worked{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 80px;
        margin-top: 80px;
        h2{
            color:  color.$color-grayscale-grey-dark;
            font-family: Advent Pro;
            font-size: 1.5rem;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            justify-self: flex-start;
        }
        .row{
            flex-direction: column;
            div{
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 0.5rem;
                border: 1px solid rgba(124, 124, 124, 0.20);
                background:  color.$color-white;
                width: 15rem;
                height: 8rem;
                margin-left: 8px;
                margin-bottom: 8px;
                img{
                    width: 10rem;
                    height: auto;
                }
            }
            .row1 .row2{
                flex-basis: 50%;
            }
        }
    }   
}
