<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-P2ZHWDZD');</script>
      <!-- End Google Tag Manager -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About me</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="apple-touch-icon" sizes="180x180" href="../apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon-16x16.png">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.js"></script>
    <script src="../js/index.js"></script>
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P2ZHWDZD"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
    <div id="p5-canvas" class="about-fondo"></div>
    <nav id="nav" class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="../index.html"><img src="../assets/logo.svg" alt="Logo"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="../index.html">Work</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#">About me</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="resume.html">Resume</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>
    <div class="header-about">
        <div class="info">
            <div class="divider"></div>
            <div class="text">
                <h2>I’M MARIA JOSÉ GALEANO, THE PERSON BEHIND THE SCREEN</h2>
            </div>
        </div>
    </div>
    <main class="main-about">
        <div class="intro">
            <p>Hi there!, let me tell you a little about me. I’m originally from Paraguay and currently reside in Torino, Italy. </p>
              
              <p><span>I’m a curious and passionate learner. I love understanding how things around me work</span>, which has led me to explore beyond product design and user experience—diving into <a href="https://www.datacamp.com/portfolio/jogaleano" target="_blank" class="link">data</a>, <a href="https://github.com/JoGaleano" target="_blank" class="link">web development</a>, marketing, and strategy. But I don’t just do things for the sake of doing them; for me, every decision should have a clear “why” and “for what” behind it.</p>

            <p>I enjoy sharing what I learn with those around me because I believe knowledge becomes more valuable when it’s passed on. 📚 In my free time, <a href="https://www.goodreads.com/user/show/184916684-maria-jose" target="_blank" class="link">I love reading,</a> taking photos, and editing them—it’s my way of capturing details and expressing creativity.</p>

            <p>Working in startups has been a transformative experience for me. I love the close collaboration with teams, the fast-paced dynamics, and the constant need to adapt to market changes. That, along with having lived in different countries and participating in exchange programs and volunteer work, has taught me how to keep up with the world’s rhythm and embrace diverse perspectives.</p>
        </div>

        <div class="journey">
            <h2>What Drives Me</h2>

            <p>If there’s one thing that excites me, it’s the impact we can generate by interpreting data beyond just numbers. It’s not only about collecting information—it’s about understanding what it truly means and how it can influence decisions, products, and experiences. My goal is to create products that help and add real value—things I can be proud of.</p>

            <p>I’m fascinated by stories: how they’re told, how they shape decisions, and how they change our perception of the world. We see them in marketing, politics, social media—everywhere. And I love not just analyzing them but being a part of them.</p>
        </div>

        <div class="thank">
            <p>If my journey resonates with you or if you're curious about how we might collaborate, <span>I'd love to hear from you</span> ✨</p>
            <p>Feel free to reach out with any thoughts, questions, or opportunities. Let’s start a conversation and explore the possibilities together!</p>
            <p class="jo">Abrazo  Jo</p>
        </div>
    </main>
    
    <footer id="footer">
        <div class="copy">© Jo Galeano 2025</div>
        <div class="rrss">
            <a href="https://www.linkedin.com/in/galeano19maria/" target="_blank"><img src="../assets/devicon_linkedin.png" alt="LinkedIn"></a>
            <a href="mailto: galeano.product@gmail.com"><img src="../assets/logos_google-gmail.png" alt="Gmail"></a>
            <a href="https://www.instagram.com/dataviz.notes/" target="_blank"><img src="../assets/icons_instagram.png" alt="Instagram"></a>
        </div>
    </footer>
   
</body>
</html>
