<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-P2ZHWDZD');</script>
    <!-- End Google Tag Manager -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI-Powered Design for Data-Driven Campaigns</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="apple-touch-icon" sizes="180x180" href="../apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon-16x16.png">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.js"></script>
    <script src="../js/index.js"></script>
    <link rel="stylesheet" href="../style/style.css">
</head>

<body id="AI-Powered">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P2ZHWDZD"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <nav id="nav" class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="../index.html"><img src="../assets/logo.svg" alt="Logo"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="../index.html">Work</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about.html">About me</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="resume.html">Resume</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>

    <a href="../index.html" class="back"><img src="../assets/arrow-back.svg" alt="back">Back</a>

    <div class="header">
            <div class="info">
                <div class="divider"></div>
                <div class="text">
                    <h2>AI-Powered Design for Data-Driven Campaigns</h2>
                    <p>Leveraging AI and transaction data, I designed personalized campaigns for financial institutions, creating tailored user experiences that drive engagement and align with real customer behavior.
                    </p>
                </div>
            </div>
    </div>

    <div class="container">
        <nav class="menu">
            <!-- Contenido del menú -->
            <ul>
                <li><a href="#note">Note</a></li>
                <li><a href="#overview">Overview</a></li>
                <li><a href="#Challenges_overcome">Challenge</a></li>
                <li><a href="#team">Team</a></li>
                <li><a href="#DataDriven">Data-Driven insights</a></li>
                <li><a href="#contentCalendar">Content Calendar</a></li>
                <li><a href="#AIVisual">AI-Generated Visuals</a></li>
                <li><a href="#GraphicLine">Adaptation</a></li>
                <li><a href="#FinalCreation">Final creation</a></li>
                <li><a href="#Metrics">Metrics</a></li>
                <li><a href="#Tools">Tools</a></li>
                <li><a href="#Conclusion">Conclusion</a></li>
                <!-- Más elementos del menú -->
            </ul>
        </nav>
        <main class="main-content">
            <!-- Contenido principal que se desplaza -->
            <section class="confidential-note" id="note">
                <h2 >Confidentiality Note </h2>
                <p >This document provides an overview of our team's engagement and collaborative strategies in developing artificial intelligence solutions. <span>Technical challenges, product definitions, and internal methodologies have been omitted or vaguely described to comply with agreed confidentiality restrictions</span>. The included images have been carefully selected or edited to adhere to this non-disclosure agreement, ensuring that the project's essence and the integrity of the proprietary information remain protected.</p>
            </section>

            <section id="overview" class="overview">
                <h2>Overview</h2>
                <p>For this project,<span> I worked with a leading fintech client in Mexico to design a data-driven social media content calendar aimed at promoting select businesses where their cardholders frequently transacted</span>. The campaign combined AI-generated visuals with insights drawn from transaction data, creating targeted content that resonated with users on social media and within the banking app. The focus was on increasing user engagement through timely, relevant promotions based on user behavior.</p>
            </section>

            <section id="Challenges_overcome" class="Challenges_overcome">
                <h2>Challenge</h2>
                <p>The fintech client aimed to boost user engagement and encourage spending at specific partner businesses. The key objectives were to identify which merchants within the agreement were most frequented by cardholders, determine the best days to publish content based on transaction data, and create visually appealing content that was optimized for both social media and the app while aligning with the financial technology company’s brand identity.</p>
                <p>To achieve this, <span>I needed to create a campaign that would be both strategically timed and visually compelling</span>, leveraging AI-generated visuals for efficiency and consistency.</p>
            </section>

            <section id="team" class="team">
                <h2>Multidisciplinary Team</h2>
                <p>For this project, <span>I worked closely with a fintech client that included their growth team, a product designer, and a Product Owner</span>. As the project lead on my side, <span>I collaborated extensively with our commercial team and data team to ensure the campaign's success</span>. I managed the entire process, from initial validation to final delivery, coordinating with the fintech’s stakeholders to align the campaign with their growth objectives while leveraging insights from both teams to inform design and strategic decisions.</p>
            </section>

            <section id="Process" class="Process">
                <h2>Process & Approach</h2>
                <div id="DataDriven" class="continuous_learning">
                    <h3 >Data-Driven insights for strategic decision making</h3>
                    <p>The fintech client wanted to boost customer engagement and encourage spending at specific partner businesses. The key objectives were to:</p>
                    <ul>
                        <li>The merchants that are part of the benefits program and where cardholders made purchases most frequently.</li>
                        <li>The days with the most transactions at each of these merchants.</li>
                    </ul>
                    <p>For example, the data showed that Fridays were the days with the highest transaction volume at entertainment venues, while Mondays were the most popular at grocery stores. <span>This helped determine the optimal publishing schedule</span>, ensuring that the content was relevant and appealed to users.</p>

                    <img src="../assets/merchant_first_table.png" alt="merchant table">

                </div>
                
                <div id="contentCalendar" class="contentCalendar">
                        <h3>Creating the Content Calendar</h3>
                        <p>Using the transaction insights, I designed a social media content calendar that aligned with the client’s marketing goals.</p>
                        <img src="../assets/merchant_calendar_content.png" alt="Calendar Content table">
                </div>

                <div id="AIVisual" class="AIVisual">
                    <h3>AI-Generated Visuals</h3>
                    <p>To create attractive images quickly and efficiently, <a href="https://firefly.adobe.com/" target="_blank" style="text-decoration: underline; cursor: pointer;">I used adobe's AI-based tools to generate the 3D images</a> for the social media posts and app banners. Each image was tailored to the type of business being promoted, for example:</p>
                    <ul>
                        <li>3D go-karts were created to represent the experience of a leisure venue.</li>
                        <li>Dynamic images of shops were designed to promote commercial offers.</li>
                        <li>Shop characters to accompany the brand.</li>
                    </ul>
                    <p>Generative artificial intelligence enabled rapid iterations of these visual elements, ensuring that the content was engaging, visually consistent and adaptable to different platforms (social media and in-app displays).</p>
                    <img src="../assets/AiGenerate01.png" alt="AI Process" class="expandable-img animated-img">
                </div>

                <div id="GraphicLine" class="GraphicLine">
                    <h3>Adaptation to the graphic line</h3>
                    <p>While generative AI enables faster and more efficient asset creation, it still has limitations, particularly in accurately applying specific colors and brand elements. To ensure the visuals met the required standards, I used Photoshop, Lightroom, and Adobe Illustrator for final refinements and adjustments. Below are some real examples showcasing the polished results.</p>
                    <div class="imagesProcess">
                        <img src="../assets/adaptation01.png" alt="process" class="expandable-img animated-img" >
                        <img src="../assets/adaptation02.png" alt="process" class="expandable-img animated-img">
                        <img src="../assets/adaptation03.png" alt="process" class="expandable-img animated-img">
                        <img src="../assets/adaptation04.png" alt="process" class="expandable-img animated-img">
                    </div>
                </div>

                <div id="FinalCreation" class="FinalCreation">
                    <h3>Final creation of the graphic pieces</h3>
                    <div class="imagesProcess">
                        <img src="../assets/finalImages01.png" alt="process" class="expandable-img animated-img">
                        <img src="../assets/finalImages02.png" alt="process" class="expandable-img animated-img">
                        <img src="../assets/newsletter.png" alt="process" class="expandable-img animated-img">
                    </div>
                </div>
                
                <div id="Metrics" class="Metrics">
                    <h3>Metrics</h3>
                    <p>We collected metrics for each type of content—stories, in-app messages, push notifications, and native displays—to validate the initial data-driven decisions. This allowed us to continuously assess the performance of each proposal and ensure the strategy was effectively engaging users.</p>
                    <img src="../assets/Metrics.png" alt="Metrics table">
                    
                </div>

                <div id="Tools" class="tools">
                    <h3>Tools used during this project</h3>
                    <ul>
                        <li>Google Sheet</li>
                        <li>Adobe Firefly</li>
                        <li>Figma</li>
                        <li>Photoshop</li>
                        <li>Illustartor</li>
                        <li>Open IA</li>
                        <li>Geminis</li>
                    </ul>
                </div>
            </section>
            
            <section id="Conclusion" class="conclusion">
                <h2>Conclusion</h2>
                <p>Working with this fintech client in Mexico, I was able to create a social media strategy that combined the best of data analytics and AI-driven design. By utilizing transactional data, I ensured that the campaign was timely and relevant, while AI tools helped to streamline the design process, delivering engaging content across multiple channels.</p>
            </section>

            <section class="thank">
                <h2>Thank you for making it this far.</h2>
                <p>I would love to talk about the challenges, decisions and mistakes that were made during this first stage.</p>
                <p>Feel free to talk to me on LinkedIn or by mail.</p>
                <span>Abrazo Jo</span>
            </section>
           
        </main>
        <aside class="side-comments">
            <!-- Comentarios que se desplazan con el contenido principal -->
            <div class="comment1 comment">My additional notes will be recorded in this space.</div>

            <div class="comment2 comment">This project was a new challenge for me, as I had to quickly learn and apply marketing strategies to ensure success. The campaign required not only the creation of a social media content calendar, but also a coordinated approach that included posts, stories, push notifications, and in-app banners. I needed to integrate these elements seamlessly while ensuring that the campaign was data-driven, visually engaging, and aligned with the fintech’s growth goals.</div>

            <div class="comment3 comment">Collaboration with the fintech team was facilitated through tools like Figma and Illustrator for collaborative design, Slack for constant communication, and Google Sheets for data management and tracking.</div>

            <div  class="comment4 comment">In addition to focusing on high-transaction merchants, the commercial team required us to include specific partner brands in the campaign. By analyzing the data, we identified the optimal days to feature these new brands, ensuring they were introduced to cardholders at times when engagement would be highest, even if they weren’t among the top transaction venues.</div>

            <div  class="comment5 comment">It is important to note that the calendar is subject to change during the month due to events, new partnerships or the bank's needs. </div>

            <div  class="comment6 comment">I reduce the image to the concept of working methodology to provide a better understanding of the process. </div>

            <div  class="comment7 comment">Use Adobe Firefly as it has been trained with licensed, Adobe-owned, or public domain images, which ensures that the generated images comply with copyrights and licenses, avoiding legal issues. In addition, brand manuals from retailers and banks are available to ensure the correct creation of visual assets.</div>

            <div  class="comment8 comment">This part of the job is the most time-consuming, but it also allows me to connect with design.</div>

            <div  class="comment9 comment"> <span>+60 PIECES</span> OF ART CREATED FOR SEPTEMBER IN <br> <span>60 HOURS</span></div>

            <div  class="comment10 comment"> Information shared by the growth team of financial institutions.</div>



            <!-- Más comentarios -->
        </aside>
    </div>

    <footer id="footer">
        <div class="copy">© Jo Galeano 2025</div>
        <div class="rrss">
            <a href="https://www.linkedin.com/in/galeano19maria/" target="_blank"><img src="../assets/devicon_linkedin.png" alt="LinkedIn"></a>
            <a href="mailto: galeano.product@gmail.com"><img src="../assets/logos_google-gmail.png" alt="Gmail"></a>
            <a href="https://www.instagram.com/dataviz.notes/" target="_blank"><img src="../assets/icons_instagram.svg" alt="Instagram"></a>
        </div>
    </footer>

    <!-- Bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
          // Crear el modal de imagen
          const imageModal = document.createElement('div');
          imageModal.classList.add('image-modal');
          document.body.appendChild(imageModal);
        
          // Crear la imagen dentro del modal
          const modalImg = document.createElement('img');
          imageModal.appendChild(modalImg);
        
          // Crear el botón de cerrar
          const closeButton = document.createElement('button');
          closeButton.textContent = 'Close view';
          imageModal.appendChild(closeButton);
        
          // Detectar clic en la imagen para expandirla
          document.querySelectorAll('.expandable-img').forEach(img => {
            img.addEventListener('click', function() {
              modalImg.src = img.src;
              imageModal.style.display = 'flex';
            });
          });
        
          // Cerrar el modal al hacer clic en el botón
          closeButton.addEventListener('click', function() {
            imageModal.style.display = 'none';
          });
        
          // Cerrar el modal al hacer clic en cualquier parte del fondo (opcional)
          imageModal.addEventListener('click', function(event) {
            // Evitar que el clic en la imagen o el botón cierre el modal
            if (event.target === imageModal) {
              imageModal.style.display = 'none';
            }
          });
        });
    </script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
    <script>
    document.querySelectorAll('.animated-img').forEach(img => {
        img.addEventListener('mouseover', () => {
        anime({
            targets: img, // Use the current img element
            scale: [1, 1.1],
            easing: 'easeInOutQuad',
            duration: 500,
            direction: 'alternate'
        });
        });
  });
</script>
        


</body>
</html>