<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-P2ZHWDZD');</script>
    <!-- End Google Tag Manager -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intelligent assistance</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="apple-touch-icon" sizes="180x180" href="../apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon-16x16.png">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.js"></script>
    <script src="../js/index.js"></script>
    <link rel="stylesheet" href="../style/style.css">
</head>

<body id="intelligent">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P2ZHWDZD"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <nav id="nav" class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="../index.html"><img src="../assets/logo.svg" alt="Logo"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="../index.html">Work</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about.html">About me</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="resume.html">Resume</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>

    <a href="../index.html" class="back"><img src="../assets/arrow-back.svg" alt="back">Back</a>

    <div class="header">
            <div class="info">
                <div class="divider"></div>
                <div class="text">
                    <h2>Intelligent assistance</h2>
                    <p>Exploration of an innovative AI chatbot designed to enrich user interaction with data and metrics.</p>
                </div>
            </div>
    </div>

    <div class="container">
        <nav class="menu">
            <!-- Contenido del menú -->
            <ul>
                <li><a href="#note">Note</a></li>
                <li><a href="#problem">Problem</a></li>
                <li><a href="#proposed_solution">Proposed solution</a></li>
                <li><a href="#team">Team</a></li>
                <li><a href="#Challenges_overcome">Challenge</a></li>
                <li><a href="#Process">Process</a></li>
                <li><a href="#Conclusion">Conclusion</a></li>
                <!-- Más elementos del menú -->
            </ul>
        </nav>
        <main class="main-content">
            <!-- Contenido principal que se desplaza -->
            <section class="confidential-note" id="note">
                <h2 >Confidentiality Note </h2>
                <p >This document provides an overview of our team's engagement and collaborative strategies in developing artificial intelligence solutions. <span>Technical challenges, product definitions, and internal methodologies have been omitted or vaguely described to comply with agreed confidentiality restrictions</span>. The included images have been carefully selected or edited to adhere to this non-disclosure agreement, ensuring that the project's essence and the integrity of the proprietary information remain protected.</p>
            </section>

            <section id="problem" class="problem">
                <h2>Problem</h2>
                <p>In a context where immediacy of information is crucial, our team faced the need to bring users closer to an intuitive and enriched experience in understanding and manipulating business data and metrics.</p>
            </section>

            <section id="proposed_solution" class="proposed_solution">
                <h2>Proposed solution</h2>
                <p>Our goal was to integrate artificial intelligence solutions through deep learning language models (LLM) that would enable organic and efficient interactions, emulating a real human conversation and providing immediate and relevant responses.</p>
            </section>

            <section id="team" class="team">
                <h2>Multidisciplinary Team</h2>
                <p>As a Product Designer, I closely collaborated with Data Science specialists, Frontend and Backend Developers, a Quality Analyst (QA), and an Information Architecture Expert.</p>
            </section>

            <section id="Challenges_overcome" class="Challenges_overcome">
                <h2>Challenges overcome</h2>
                <p>The journey involved </p>
                <ul>
                    <li>Overcoming Unfamiliarity with Conversational Design.</li>
                    <li>Produce a document that can be used to train the model (as a starting point).</li>
                    <li>Educate users on the security of their data, for example, by advising them not to enter their bank details.</li>
                    <li>Ensure the privacy of internally managed information.</li>
                    <li>Monitor conversations in real time, especially in the first stage, to validate the model's responses.</li>
                </ul>
            </section>

            <section id="Process" class="Process">
                <h2>Process</h2>
                <div class="continuous_learning">
                    <h3>Continuous learning</h3>
                    <p>As a first step, <span> I recognised the need to delve deeper into conversational design</span>, a new field for me. To bridge this knowledge gap, I enrolled in and completed two specialised masterclasses offered by the Interaction Design Foundation.</p>
                    <ul>
                        <li><a href="https://www.interaction-design.org/members/maria-jose-galeano/certificate/masterclass/mcc_488b2659759749e5822908dfad93fcf8" target="_blank">How to Design Experiences for AI</a> by Greg Nudelman, Principal and UX Director, DesignCaffeine.</li>
                        <li><a href="https://www.interaction-design.org/members/maria-jose-galeano/certificate/masterclass/mcc_f81251b5285346bb80102b50efbd6d4d" target="_blank">Conversation Design: Practical tips for AI design </a> delivered by Elaine Anzaldo, Conversation Designer, Meta.</li>
                    </ul>
                    <p>Additionally, it was an excellent opportunity to put into practice what was learned in the <a href="https://www.linkedin.com/in/galeano19maria/details/certifications/1635555305133/single-media-viewer/?profileId=ACoAADVASH8BHCv3TGuEx26m0lojs9LX_CNc8X0" target="_blank">Workshop "UX and Product Design for Artificial Intelligence and Machine Learning Solutions: Creating from Uncertainty"Workshop "UX and Product Design for Artificial Intelligence and Machine Learning Solutions: Creating from Uncertainty"</a> that was given at ILA23 by Claudia Gutierrez.</p>

                </div>
                
                <div class="project_canvas">
                        <h3>AI Project Canvas</h3>
                        <p>We applied the "AI Project Canvas" to outline and communicate the project in a structured way, ensuring that each phase of development was aligned with our strategic objectives and user expectations.</p>
                        <img src="../assets/AI_Project_Canvas.png" alt="AI Project Canvas">
                </div>

                <div class="AI_person">
                    <h3>AI Person</h3>
                    <p>It helped us to understand our target audience and to segment users with the stages of functionality. </p>
                    <img src="../assets/AI_Persona.png" alt="AI Persona">

                    <p class="link-template">You can find templates in Spanish created by Claudia Gutierrez <a href="https://www.kitechnologies.com/es/ila-23" target="_blank">here</a>.</p>
                </div>

                <div class="market_share">
                    <h3>Market research</h3>
                    <p>At this point given that the focus of the company is B2B, and that the product we offer is unique in many ways. Our market research focus was primarily on providing an experience in interacting with the chat and the safety of interacting with it. </p>
                    <p>Given that we are in a time where AI is embedded in our daily lives, we had the challenge of identifying the user's mental map of AI. Identify what the first launch should have as a minimum so as not to frustrate the user. We had to be extremely careful with the fact that we were working with sensitive data, we had to build trust in the user that their data was not shared and also identify the technology limitations and biases that might exist in the team. </p>
                    <p>For my part, I focused on identifying the key questions we needed to answer for this proposal: </p>
                    <ul>
                        <li>How would we respond if we didn't have the answer?</li>
                            <li>How would we limit ambiguity?</li>
                            <li>How would we define the scope of our responses in the first launch?</li>
                            <li>What would be the main risks for the company?</li>
                            <li>What would be the tone and voice in which we would speak to the user?</li>
                            <li> How would we measure the success and/or failure of the interactions?</li>
                    </ul>
                    <p>For these answers I worked together with Customer Success, Marketing, Sales and Engineering to align the business objectives with the experience we wanted to provide to the user, so that it would be the same at any point of interaction with the company.</p>
                </div>

                <div class="definitions">
                    <h3>Definitions</h3>
                    <p>After several meetings with the Data & Engineering team, we defined 3 stages of evolution for the chat. I will focus on the first stage:</p>
                    <ol>
                        <li>1. That the model can answer frequently asked questions about the use of the platform. </li>
                        <li>2. The model can also answer questions about specific rules or configurations made on the platform.</li>
                        <li>3. That the model can provide dynamic explanations of the metrics and data observed on the platform.</li>
                        <li>4. Archive conversations and be able to continue with them if necessary.</li>
                        <li>5. Give initial prompts as a sample of what you can ask the chat, in order to guide the user in the scope of the questions.</li>
                        <li>6. This chat functionality will be cross-platform.</li>
                    </ol>
                </div>
                
                <div class="design">
                    <h3>Design</h3>
                    <p>While I can't share the final design, I want to highlight an important trend in visual design that is observed in AI software releases, and that is the use of the following visual variants. This trend helps the user associate that these are AI tools. </p>
                    <img src="../assets/design_IA.png" alt="Design images">
                    <p>One of the objectives for our platform is that through the design the user understands that it is not a simple chat bot, but making it clear that it was not a conversation with a human being so as not to generate frustration in case of not getting specific answers to their questions. </p>
                    <p>The challenge in the design was that this functionality has three stages, so the scalability of the design must be considered.</p>
                </div>

                <div class="tools">
                    <h3>Tools used during this project</h3>
                    <ul>
                        <li>Notion</li>
                        <li>FigJam</li>
                        <li>Figma</li>
                        <li>Maze</li>
                        <li>Google Form</li>
                        <li>Chat GPT</li>
                        <li>Bart</li>
                    </ul>
                </div>

            </section>
            
            <section id="Conclusion" class="conclusion">
                <h2>Conclusion</h2>
                <p>The project reflected a synergy between technological innovation and user-centred design, highlighting our team's ability to navigate through complex challenges and deliver a solution that not only meets, but anticipates and adapts to users' needs.</p>
            </section>

            <section class="thank">
                <h2>Thank you for making it this far.</h2>
                <p>I would love to talk about the challenges, decisions and mistakes that were made during this first stage.</p>
                <p>Feel free to talk to me on LinkedIn or by mail.</p>
                <span>Abrazo Jo</span>
            </section>
           
        </main>
        <aside class="side-comments">
            <!-- Comentarios que se desplazan con el contenido principal -->
            <div class="comment1 comment">My additional notes will be recorded in this space.</div>

            <div class="comment2 comment">What strategies can we use to provide our users with a more intuitive and personalised experience that helps them understand and manage data and metrics, thereby enhancing their analytical capabilities? 🤔</div>

            <div class="comment3 comment">The project was completed by a team of seven individuals.</div>

            <div  class="comment4 comment">The data team proposes visualising users' conversations with the model in real-time. This will enable us to identify user needs, find patterns, areas of opportunity, and pain points that we may have missed. 😎</div>

            <div  class="comment5 comment">In addition to these trainings, I supported the Latam UX community.</div>

            <div  class="comment6 comment">Making the IA Project Canvas helped me not to get lost in all the possible functions we could offer.</div>

            <div  class="comment7 comment">It was key to identify the users involved. As this is a B2B platform it involves several areas.</div>

            <div  class="comment8 comment"><span>The point 3</span> generated an interesting debate in the team. To improve the experience, I proposed that this dynamic explanation be made for each section and/or metric.  That is to say, to achieve that the user with a click can have an explanation of the data, in addition to providing findings and recommendations through the models managed by the Data Science team. Without having to navigate in the chat to get to this information.The team was open to this proposal and was able to implement this functionality.</div>

            <div  class="comment9 comment"> <span>Point 4</span> was warned through surveys that users expect this to happen.</div>



            <!-- Más comentarios -->
        </aside>
    </div>

    <footer id="footer">
        <div class="copy">© Jo Galeano 2025</div>
        <div class="rrss">
            <a href="https://www.linkedin.com/in/galeano19maria/" target="_blank"><img src="../assets/devicon_linkedin.png" alt="LinkedIn"></a>
            <a href="mailto: galeano.product@gmail.com"><img src="../assets/logos_google-gmail.png" alt="Gmail"></a>
            <a href="https://www.instagram.com/dataviz.notes/" target="_blank"><img src="../assets/icons_instagram.png" alt="Instagram"></a>
        </div>
    </footer>

    <!-- Bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>


</body>
</html>